* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden !important;
}

.autocomplete-selected {
  background-color: #505050;
  padding: 10px;
  border-radius: 8px;
}

input[type="text"] {
  font-family: "Public sans", sans-serif;
}

@keyframes display-toast-message {
  0% {
    right: -100%;
  }
  100% {
    right: 2%;
  }
}

@keyframes hide-toast-message {
  0% {
    right: 2%;
  }
  100% {
    right: -100%;
  }
}
